POSTGRES_USER=lbmuser
POSTGRES_PASSWORD=lbmsupersecurepassword
POSTGRES_DB=lbmdb
DATABASE_URL="postgresql://lbmuser:lbmsupersecurepassword@lbm_db:5432/lbmdb"
BETTER_AUTH_SECRET=BVH9cGD3hKZ0m8If5bqE8MX0raCq6ixf
NEXT_PUBLIC_GOOGLE_RECAPTCHA_SITE_KEY=6Le0VfUrAAAAqdsfqdhfjk5cjT09PXv27fnnpjXqJz
GOOGLE_RECAPTCHA_SECRET_KEY=6Le0VfUrAAAAqsdfqsdfqsdfbytPtbHa1nAESp_C
UPLOADTHING_TOKEN=dfkjqsdmkfjmkqsldfj
